<aside class="shadow-form">
  <h2><%= @entry.title %></h2>
  <p><%= @entry.body %></p>
  <footer>
    <%= link_to 'Back', entries_path %>
    <%= link_to 'Edit', edit_entry_path(@entry) %>
  </footer>
</aside>
