<section class="hero">
  <%= link_to 'Login', new_user_session_path, class: 'login' %>
  <h1 class="hero__title">Be happy. Be thankful.</h1>
  <h2><%= link_to 'Start a gratitude journal.', new_user_registration_path %></h2>
</section>