@import 'palette';

.entry-form {
  margin: 0 auto;
  max-width: 300px;
  padding: 20px;
  background: #fff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.15), 0 3px 6px hsla(0, 0%, 0%, 0.10);
  margin-top: 2em;
  margin-bottom: 3.5em;
}

.entry-form__prompt {
  display: block;
  font-size: 18px;
  color: #444;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 20px;
}

.entry-form__title-input,
.entry-form__body-input {
  flex: 1;
  padding: 10px;
  font-family: $font-family;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  font-size: 14px;
}

.field_with_errors > input {
  border: 2px solid red;
}

.entry-form__body-input {
  resize: vertical;
  min-height: 8em;
}

.entry-form__submit-input {
  padding: 10px;
  border-radius: 0.25em;
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
  border: none;

  background: lighten($indigo, 20%);
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: lighten($indigo, 10%);
  transition: all 0.25s;
  &:hover {
    cursor: pointer;
    background: lighten($indigo, 10%);
    border-bottom-color: $indigo;
  }
}
