@import 'palette';

body {
  font-family: $font-family;
}

.header {
  background: $indigo;
}

.logo {
  font-weight: normal;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
